.form-box { margin: 90px auto 0; width: 360px; }

.form-box .header {
    background: none repeat scroll 0 0 #fffadd;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
    color: #000;
    font-size: 26px;
    font-weight: 300;
    padding: 20px 10px;
    text-align: center;
}

.form-box .body > .form-group > input, .form-box .footer > .form-group > input {
    border: medium none #fff;
}
.form-box .footer {
    border-radius: 0 0 4px 4px;
}
.form-box .body, .form-box .footer {
    background: none repeat scroll 0 0 #fff;
    color: #444;
    padding: 10px 20px;
}
.form-box .form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
}

th.sonata-ba-list-field-header-batch { width: 3% }

.box.box-primary { width: auto; margin-left: 15px; margin-right: 15px }
.box.box-primary .box-content { padding: 10px }

.page-composer__page-preview__containers { min-height: 500px !important }

.bg-ivory {
    background-color: #fffadd !important;
}